@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
html {
  color: rgba(255, 255, 255, 0.6);
  background-color: #121212;
  font-family: "Roboto";
}

body {
  margin: 0;
}

header {
  overflow: hidden;
  text-align: center;
  background-color: #212121;
  box-shadow: 0 0 10px black;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}
header > h1 {
  color: #9FA8DA;
  font-weight: 400;
  user-select: none;
  padding: 0 60px;
}

footer {
  overflow: hidden;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.01);
  color: rgba(255, 255, 255, 0.5);
  vertical-align: middle;
}

a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  width: fit-content;
  margin: 10px;
}
a:active, a:visited {
  color: rgba(255, 255, 255, 0.5);
}
a:hover {
  color: #9FA8DA;
}

section {
  background-color: #212121;
  border-radius: 3px;
  border: 0px solid rgba(0, 0, 0, 0);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 50px auto;
}
section > div {
  padding: 2.5rem;
}
section > h2 {
  display: block;
  margin: 0;
  padding: 1.5rem 2.5rem;
  font-weight: 300;
  background: no-repeat fixed url("../img/card-background.png");
  background-size: cover;
  border-bottom: 1px solid #9FA8DA;
  box-shadow: 0px 1px 2px -1px #9FA8DA;
  color: #9FA8DA;
}

.container {
  margin: 180px auto 100px auto;
  max-width: 1280px;
  min-height: calc(100vh - 340px);
  width: 70%;
}
@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
  }
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #2c2c2c;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
input[type=text] {
  appearance: textfield;
}
input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}
input[type=color] {
  height: 48px;
  width: 250px;
}
input[type=range] {
  vertical-align: middle;
  appearance: none;
  width: calc(100% - 40px);
  height: 5px;
  border-radius: 5px;
  background: #4f4f4f;
  outline: none;
  margin: 15px 0;
}
input[type=range]:disabled {
  background: #191919;
}
input[type=range]:disabled::-webkit-slider-thumb {
  background: #4f4f4f;
}
label:has(input[type=range]:disabled) {
  color: #4f4f4f;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #9FA8DA;
  cursor: pointer;
  outline: 2px solid #212121;
}
label:has(input[type=range]) {
  color: #bababa;
  display: block;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}

input[type=file] {
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}
input[type=checkbox] + span {
  border-radius: 4px;
}
input[type=checkbox]:checked + span::before {
  content: "\e5ca";
}
input[type=radio] + span {
  border-radius: 50%;
}
input[type=radio] + span:before {
  margin: 2px;
  border: 2.5px solid #212121;
  height: 9px;
  width: 9px;
  border-radius: 50%;
}

input[type=number], input[type=text], input[type=email], input[type=date], input[type=color] {
  background: none;
  font-size: 18px;
  padding: 10px;
  border: 2px solid #4f4f4f;
  color: #bababa;
  border-radius: 4px;
  display: block;
  margin: 20px 0 10px 0;
  min-width: 250px;
}
input[type=number]:disabled, input[type=text]:disabled, input[type=email]:disabled, input[type=date]:disabled, input[type=color]:disabled {
  border: 2px solid #191919;
}
input[type=number]::placeholder, input[type=text]::placeholder, input[type=email]::placeholder, input[type=date]::placeholder, input[type=color]::placeholder {
  color: #4f4f4f;
}
input[type=number]:focus, input[type=text]:focus, input[type=email]:focus, input[type=date]:focus, input[type=color]:focus {
  outline: none;
  border: 2px solid #9FA8DA;
}
input[type=number]:focus + label, input[type=text]:focus + label, input[type=email]:focus + label, input[type=date]:focus + label, input[type=color]:focus + label {
  color: #9FA8DA;
}
input[type=number] + label, input[type=text] + label, input[type=email] + label, input[type=date] + label, input[type=color] + label {
  padding: 0 10px;
  color: #4f4f4f;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  background-color: #212121;
  margin: -65px 25px;
  user-select: none;
}

input[type=checkbox], input[type=radio] {
  opacity: 0;
  width: 0;
  height: 0;
}
label:has(input[type=checkbox], input[type=radio]) {
  position: relative;
  padding: 0 20px;
  font-size: 18px;
  user-select: none;
  cursor: pointer;
  margin: 10px 0;
  color: #bababa;
  display: block;
}

label:has(input[type=checkbox]:disabled, input[type=radio]:disabled) {
  color: #4f4f4f;
}

input[type=checkbox] + span, input[type=radio] + span {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 2px solid #4f4f4f;
}
input[type=checkbox] + span::before, input[type=radio] + span::before {
  font-family: "Material Icons";
  font-weight: 500;
  content: " ";
  color: white;
  background-color: transparent;
  display: block;
}
input[type=checkbox]:checked + span, input[type=radio]:checked + span {
  background-color: #9FA8DA;
  border-color: #9FA8DA;
}
input[type=checkbox]:disabled + span, input[type=radio]:disabled + span {
  border-color: #191919;
}

button {
  width: 200px;
  margin: 10px 0;
  border: 2px solid #4f4f4f;
  background-color: transparent;
  border-radius: 4px;
  color: #9FA8DA;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}
button:hover {
  border-color: #9FA8DA;
}
button:disabled {
  color: #4f4f4f;
  border-color: #191919;
}

/*# sourceMappingURL=index.css.map */
