@use 'var';

input{

	&::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
		appearance: none;
		margin: 0;
	}

	&[type=number], &[type=text]{
		background: none;
		font-size: 18px;
		padding: 10px;
		width: calc(100% - 44px);
		border: 2px solid lighten(var.$background-color, 18%);
		color: lighten(var.$background-color, 60%);
		border-radius: 4px;
		display: block;
		margin: 20px 0 10px 0;
		appearance: textfield;

		&:disabled{
			border: 2px solid darken(var.$background-color, 3%);

		}

		&::placeholder{
			color: lighten(var.$background-color, 18%);
		}

		&:focus{
			outline: none;
			border: 2px solid var.$primary-color;

			+ label {
				color: var.$primary-color;
			}
		}

		+ label {
			padding: 0 10px;
			color: lighten(var.$background-color, 18%);
			font-size: 14px;
			font-weight: normal;
			position: absolute;
			// top: 17px;
			// left: 35px;

			background-color: var.$background-color;
			margin: -65px 25px;
			user-select: none;
		}
	}

	&[type=range]{
		vertical-align: middle;
		appearance: none;
		width: calc( 100% - 40px);
		height: 5px;
		border-radius: 5px;
		background: lighten(var.$background-color, 18%);
		outline: none;
		margin: 15px 0;

		&:disabled{
			background: darken(var.$background-color, 3%);

			&::-webkit-slider-thumb{
				background: lighten(var.$background-color, 18%);
			}

			+ label {
				color: lighten(var.$background-color, 18%);
			}
		}

		&::-webkit-slider-thumb{
			appearance: none;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: var.$primary-color;
			cursor: pointer;
			outline: 2px solid var.$background-color;
		}

		+ label {
			color: lighten(var.$background-color, 60%);
			vertical-align: middle;
			text-align: center;
			float: right;
			padding: 8px 0;
			width: 35px;
			font-size: 14px;
			font-weight: normal;
		}
	}

	&[type=file]{
		opacity: 0;
		width: 0;
		height: 0;
		visibility: hidden;
	}

	&[type=checkbox]{
		@extend %custom-input;

		+ span{
			border-radius: 4px;
		}

		&:checked + span::before{
			content: "\e5ca";
		}
	}

	&[type=radio]{
		@extend %custom-input;

		+ span{
			border-radius: 50%;

			&:before{
				margin: 2px;
				border: 2.5px solid var.$background-color;
				height: 9px;
				width: 9px;
				border-radius: 50%;
			}
		}
	}
}

%custom-input{
	opacity: 0;
	width: 0;
	height: 0;

	@at-root label:has(&){
		position: relative;
		padding: 0 20px;
		font-size: 18px;
		user-select: none;
		cursor: pointer;
		margin: 10px 0;
		color: lighten(var.$background-color, 60%);
		display: block;
	}

	@at-root label:has(&:disabled){
		color: lighten(var.$background-color, 18%);
	}

	+ span{
		position: absolute; 
		top: 0;
		left: 0; 
		height: 18px;
		width: 18px;
		background-color: transparent;
		border: 2px solid lighten(var.$background-color, 18%);
		
		&::before{
			font-family: "Material Icons";
			font-weight: 500;
			content: " ";
			color: white;
			background-color: transparent;
			display: block;
		}
	}

	&:checked + span {
		background-color: var.$primary-color;
		border-color: var.$primary-color; 
	}

	&:disabled + span{
		border-color: darken(var.$background-color, 3%);
	}
}

button{
    width: 200px;
    margin: 10px 0;
    border: 2px solid lighten(var.$background-color, 18%);
    background-color: transparent;
    border-radius: 4px;
    color: var.$primary-color;
    font-size: 18px;
    padding: 10px;
	cursor: pointer;

	&:hover{
		border-color: var.$primary-color;
	}

	&:disabled{
		color: lighten(var.$background-color, 18%);
		border-color: darken(var.$background-color, 3%);
	}
}