@use 'var';


input{

	&::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
		appearance: none;
		margin: 0;
	}

	&[type=number], &[type=text]{
		background: none;
		font-size: 18px;
		padding: 10px;
		width: calc(100% - 44px);
		border: 2px solid rgba(255,255,255,0.2);
		color: rgba(255,255,255,0.7);
		border-radius: 4px;
		transition: border 0.3s;
		display: block;
		margin: 10px;
		appearance: textfield;

		&:disabled{
			border: 2px solid darken(var.$background-color, 2.6%);
		}

		&::placeholder{
			color: rgba(255,255,255,0.2);
		}

		&:focus{
			outline: none;
			border: 2px solid var.$primary-color;
		}

		+ label {
			padding: 0 10px;
			color: rgba(255,255,255,0.7);
			font-size: 14px;
			font-weight: normal;
			position: absolute;
			top: 17px;
			left: 35px;
			background-color: var.$background-color;
			margin: 0 0 55px;
			user-select: none;
		}
	}

	&[type=range]{
		vertical-align: middle;
		appearance: none;
		width: calc( 100% - 40px);
		height: 5px;
		border-radius: 5px;
		background: rgba(255,255,255,0.2);
		outline: none;
		margin: 20px 0;

		&:disabled{
			background: darken(var.$background-color, 2.6%);


			&::-webkit-slider-thumb{
				// background: rgba(255,255,255,0.2);
				background: lighten(var.$background-color, 20%);
			}
		}

		&::-webkit-slider-thumb{
			appearance: none;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: var.$primary-color;
			cursor: pointer;
			outline: 2px solid var.$background-color;
		}

		+ label {
			vertical-align: middle;
			float: right;
			padding: 13px 10px;
			font-size: 14px;
			font-weight: normal;
		}
	}

	&[type=file]{
		opacity: 0;
		width: 0;
		height: 0;
		visibility: hidden;
	}

	&[type=checkbox]{
		@extend %custom-input;

		+ span{
			border-radius: 4px;
		}

		&:checked + span::before{
			content: "\e5ca";
		}
	}

	&[type=radio]{
		@extend %custom-input;

		+ span{
			border-radius: 50%;

			&:before{
				margin: 2px;
				border: 2.5px solid var.$background-color;
				height: 9px;
				width: 9px;
				border-radius: 50%;
			}
		}
	}
}

%custom-input{
	opacity: 0;
	width: 0;
	height: 0;
	visibility: hidden;

	@at-root label:has(&){
		position: relative;
		padding: 0 20px;
		font-size: 18px;
		user-select: none;
		cursor: pointer;
		margin: 10px;
		color: rgba(255,255,255,0.7);
		display: block;
		top: 0;
		left: 0;
	}

	@at-root label:has(&:disabled){
		color: rgba(255,255,255,0.2);
	}

	+ span{
		position: absolute; 
		top: 0;
		left: 0; 
		height: 18px;
		width: 18px;
		background-color: transparent;
		border: 2px solid rgba(255,255,255,0.2);
		
		&::before{
			font-family: "Material Icons";
			content: " ";
			color: white;
			background-color: transparent;
			display: block;
		}
	}

	&:checked + span {
		background-color: var.$primary-color;
	}
}