@use 'var';


input{
	&::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
		appearance: none;
		margin: 0;
	}

	&[type=number], &[type=text]{
		color: rgba(255,255,255,0.7);
		background: none;
		font-size: 18px;
		padding: 10px;
		width: calc(100% - 44px);
		border: 2px solid rgba(255,255,255,0.2);
		border-radius: 4px;
		transition: border 0.3s;
		display: block;
		margin: 10px;
		appearance: textfield;

		&:disabled{
			border: 2px solid rgba(0,0,0,0.2);
		}

		&::placeholder{
			color: rgba(255,255,255,0.2);
		}

		&:focus{
			outline: none;
			border: 2px solid var.$primary-color;
		}

		~ label {
			padding: 0 10px;
			color: rgba(255,255,255,0.7);
			font-size: 14px;
			font-weight: normal;
			position: absolute;
			top: 17px;
			left: 35px;
			background-color: var.$background-color;
			margin: 0 0 55px;
			user-select: none;
		}
	}

	&[type=range]{
		vertical-align: middle;
		appearance: none;
		width: calc( 100% - 40px);
		height: 5px;
		border-radius: 5px;
		background: rgba(255,255,255,0.2);
		outline: none;

		&::-webkit-slider-thumb{
			appearance: none;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: var.$primary-color;
			cursor: pointer;
			outline: 2px solid var.$background-color;
		}

		&::-moz-range-thumb{
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: var.$primary-color;
			cursor: pointer;
			outline: 2px solid var.$background-color;
		}
	}

	&[type=file]{
		opacity: 0;
		width: 0;
		height: 0;
		visibility: hidden;
	}

	&[type=checkbox]{
		opacity: 0;

		@at-root label:has(&){
			position: relative;
			padding: 0 20px;
			font-size: 18px;
			user-select: none;
			cursor: pointer;
			margin: 10px;
			color: rgba(255,255,255,0.7);
		}

		+ span{
			position: absolute; 
			top: 0;
			left: 0; 
			height: 18px;
			width: 18px;
			background-color: transparent;
			border: 2px solid rgba(255,255,255,0.2);
			border-radius: 4px;

			&::after{
				font-family: "Material Icons";
				content: "";
				color: white;
			}
		}

		&:checked + span{
			background-color: var.$primary-color;

			&::after{
				content: "\e5ca";
			}
		}
	}

	&[type=radio]{
		opacity: 0;

		@at-root label:has(&){
			position: relative;
			padding: 1px 20px;
			font-size: 15px;
			user-select: none;
			cursor: pointer;
			margin: 7px;
			display: block;
		}

		+ span{
			position: absolute; 
			top: 0;
			left: 0; 
			height: 15px;
			width: 15px;
			background-color: transparent;
			border: 2px solid rgba(255,255,255,0.2);
			border-radius: 50%;

			&:before{
				content: " ";
				background-color: transparent;
				margin: 1px;
				border: 2.5px solid var.$background-color;
				height: 8px;
				width: 8px;
				border-radius: 50%;
				display: block;
			}
		}

		&:checked + span {
			background-color: var.$primary-color;
		}
	}
}